Flask>=2.2
gunicorn
requests
fpdf
reportlab
pillow
qrcode
numpy
matplotlib
APScheduler
pycryptodomex
openai
google-generativeai>=0.8.0
stripe
PyMuPDF
python-docx
python-pptx
beautifulsoup4
lxml
rarfile
ebooklib
python-magic
androguard>=4.1.3
biplist
capstone
pygments
ply
antlr4-python3-runtime>=4.13.2
robotframework
selenium
pyautogui
pyserial
pygame
opencv-python
scikit-learn
tensorflow
pytorch
antlr4-tools>=0.2.2
