Flask>=2.2
gunicorn
requests
fpdf
reportlab
pillow
qrcode
numpy
matplotlib
APScheduler
pycryptodomex
openai
google-generativeai>=0.8.0
stripe
PyMuPDF
python-docx
python-pptx
beautifulsoup4
lxml
rarfile
ebooklib
python-magic
androlyze
biplist
capstone
pygments
ply
antlr4
robotframework
selenium
pyautogui
pyserial
pygame
opencv-python
scikit-learn
tensorflow
pytorch
