flask
gunicorn
requests
python-dotenv
qrcode
Pillow
reportlab
opencv-python
cryptography
numpy
stripe
apscheduler
pycryptodome
pandas
scipy
scikit-learn
tensorflow
opencv-python
matplotlib
pyzbar
playsound
soundfile
librosa
resampy
pyzbar
python-docx
dateutil
pytz
torch
torchaudio
torchvision
pytorch
